.bodybg{
    -fx-background-image: url('img_2.png');
    -fx-background-size: 100% 100%;
}

#tetrisGridPane {
    -fx-background-color: #FFFFFF70;
}


.grid{
    -fx-background-color: #FFFFFF;
}

.bg{
    -fx-background-color: black;
    -fx-border-color: red;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}

.bg2{
    -fx-background-color: black;
    -fx-border-color: yellow;
    -fx-border-insets: 10;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}


.test{
    -fx-background-color: #ffbe40;
}
.black{
    -fx-background-color: black;
}