.bodybg{
    -fx-background-image: url('img_2.png');
    -fx-background-size: 100% 100%;
}
.grid{
    -fx-background-color: white;
}
.bg{
    -fx-background-color: black;
    -fx-border-color: red;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}
.test{
    -fx-background-color: #ffbe40;
}