.button {
    -fx-cursor: hand; -fx-background-radius: 50; -fx-background-color: linear-gradient(gold, orange);
    -fx-text-alignment: center;
    -fx-page-information-alignment: center;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-padding: 10 10 10 10;


}
.pause > *.label.content{
    -fx-font-size: 70px;
    -fx-font-family: Rubik;
    -fx-font-weight: bold italic;
    -fx-text-alignment: center;
    -fx-text-fill: gold ;
    -fx-effect: dropshadow(three-pass-box, black,18,0.6,0,0);

}



.button:hover {
    -fx-effect: dropshadow(three-pass-box, orange, 10, 0.6, 0, 0);

}
.pause{

    -fx-background-radius: 20px;
    -fx-page-information-alignment: center;
    -fx-background-color: linear-gradient(to bottom, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    -fx-pref-height:300px;

}
